body {
    background-color: #1C1C1C;
    margin: 0;

    display: flex;
    flex-direction: column;
}

i{
    color : wheat;
    font-size: 40px;
}


.title {
    text-align: center;
    font-family: "Black Ops One", system-ui;
    background-color: white;
    color: #1C1C1C;
    font-weight: bold;
    font-size: 500%;
}

.consoleBody {
    display: flex;
    flex-direction: column;
    align-self: stretch; 

    background-color: #FF5F1F;
    align-self: center;
    margin: 50px 50px 0 50px;
    border-radius: 50px;
    padding: 20px;
}


 .screen {
    background-image: url(images/screen.jpeg);
    
    
    flex-basis: 600px;
    width: 1000px;
    
    border-radius: 40px;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screenTitle,.dash2, .dash, .dash3, #result, .name , #Hscore, #Cscore{
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    margin-top: 15px;
    color:#9bbc0f;
    font-size: 20px;
}

.dash2{
    font-size: 50px;
}

.screenTitle{
    margin-top: 20px;
    font-size: 30px;
}

.dash, .dash3{
    margin-top: 2px;
}

#result , #Hscore, #Cscore{
    
    margin: 10px;
}


.resultScreen{
    display: flex;
    justify-content: center;
    align-self: center;
}

.sUi{
    display: flex;
    flex-direction: column;
    margin: 20px;
}


.screenUi{
    border-style: solid;
    border-color: #9bbc0f;
    border-radius: 20px;
    border-width: 10px;
    

    width: 200px;
    height: 200px;

    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phase3{
    margin : 15px;
}

.dash2{
    margin: 20px;
    align-self: center;
}



button {
    margin: 20px 20px 0 20px;
    
    height: 70px;
    width: 70px;
    
    border-radius: 100px;
    border-color: black;
    border-style: solid;
    border-width: 1px;    
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}


.allButtons{
    display: flex;
    justify-content: space-between; 
}

#symUi{
    color: #9bbc0f;
    font-size: 100px;
}